body{
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
  min-width: 40em;
}

h1 {
  color: #FF9F1C;
  text-align: center;
  margin-top: 2em;
  font-family: 'Bungee Spice', cursive;
  font-size: 3em;
}

#root {
  margin-top: 5em;
  height: 23em;
  max-width: 50em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#introductionText {
  text-align: left;
  background-color: #CBF3F0;
  vertical-align: middle;
  padding: 1rem;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:0.5em;
  margin-bottom: 2rem;
}

button {
  font-family: 'Poppins', 'Open Sans', 'Raleway', sans-serif;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:bold;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #2EC4B6;
  outline: none;
  cursor: pointer;
  height: 3em;
}

button:hover {
  border-color: #CBF3F0;
  color: black;
}

input, label {
  vertical-align: middle;
  margin-right: 0.5em;
}

#answer {
  background-color: #eee;
  vertical-align: top;
  outline: none;
  padding: 0;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  display: inline-block;
  width: 8rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 1rem;
}

#answerTextField:focus {
  outline: 2px solid blue;
}

#name {
  font-family: 'Bungee Spice', cursive;
  height: 3em;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:0.5em;
  background-color: #CBF3F0;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
}

#questionCounter {
  height: 2em;
  margin-top: 1em;
  text-align: left;
  font-weight: bold;
  color:orangered;
}

#divSizeQuiz {
  height: 3em;
}

#questText {
  text-align: left;
  height: 5em;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Poppins', 'Raleway', sans-serif;
  background-color: #CBF3F0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:0.5em;
  padding: 1rem;
}

#answerWrap {
  text-align: left;
}

#resultField {
  height: 7em;
  margin-top: 3em;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

