body{
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
  min-width: 40em;
}

h1 {
  color: #FF9F1C;
  text-align: center;
  margin-top: 2em;
  font-family: 'Bungee Spice', cursive;
  font-size: 3em;
}

#root {
  margin-top: 5em;
  height: 23em;
  max-width: 50em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#questText {
  text-align: left;
}

button {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:bold;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #2EC4B6;
  outline: none;
  cursor: pointer;
  height: 3em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

button:hover {
  border-color: #CBF3F0;
}

#questionCounter {
  height: 2em;
  margin-top: 1em;
  text-align: left;
  font-weight: bold;
  color:orangered;
}

#name {
  font-family: 'Bungee Spice', cursive;
  height: 3em;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:0.5em;
  background-color: #CBF3F0;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
}

#divSizeQuiz {
  height: 3em;
}

#questText {
  height: 5em;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Poppins', 'Raleway', sans-serif;
}

#answerList {
  height: 10em;
  text-align: left;
}

li {
  list-style-type: none;
  margin: 1em;
}

input, label {
  vertical-align: middle;
  margin-right: 0.5em;
}

#resultField {
  height: 7em;
  margin-top: 3em;
}


/* Fancy radiobuttons styles TODO: Delete it*/
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  display: inline-block;
  margin-right: 10px;
  width: 2em;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
  user-select: none;
}
input[type=radio] + label:hover {
	color: #666;
}
input[type=radio]:checked + label {
  background: #CBF3F0;
  color: black;
}
